h1 {
    color: red;
}

#subtitulo {
    color: green;
} 

.parrafo {
    color: blue;
}

/* Uso de selectores hijo */
span p:first-child {
    color: red;
}

span p:last-child {
    color: blue;
}

span p:nth-child(4) {
    color: green;
}

/* Uso de pseudoclase */
.pink:hover {
    color: pink;
}

/* Ocupando el modelo de caja */
#box {
    width: 800px;
    background: cyan;
}

/* Grupo de selectores con clases */
.inline, .block {
    color: white;
    margin: 10px;
    padding: 10px;
    background: purple;
    border: 3px solid green;	
}

/* Sobreescribiedo el color de fondo */
.block {
    background: red;
}