/* Clase para el contenedor global */
.container {
     width: 100%; /* Iniciando con las pantallas pequeñas */
     margin: auto; /* forza a centrado horizontal en la ventana */
}

/* Centrar el menú */
nav ul {
    margin: auto;
    width: 450px;
    background: cyan;
    padding: 0;
}

/* Retirando la apariencia de listado y alinear de forma horizontal */
nav ul li {
    text-align: center;
    width: 33.33%;
    background: lightpink;
    list-style: none;
    padding: 10px 0;
    float: left;
}

    /* Pintar los botones al pasar el mouse por encima */
    nav ul li:hover {
        background: #E44DFE; /* magenta */
    }

/* Dar apariencia a los vínculos del menú */
nav ul li a {
    text-decoration: none;
    color: darkblue;
}

/* Observa que usamos medidas dinámicas */
section { 
    background: #F9F5C9; /* amarillo */
    margin: 1% 0;
    padding: 1% 0;
}

/* Clase clear la usamos para interrupir la flotación */
.clear { 
    clear: both;
}

/* Clases para las columnas dentro de las celdas */
.col2 {
    background: pink; /* Color de fondo rosa */
    width: 50%; /* Ancho del 50% */
    margin: 1% 0; /* margen: superior_e_inferior derecho_e_izquierdo */
    float: left; /* para que la etiqueta article tenga un comportamiento inline */
    padding: 1%; /* Para dar un poco de aire */
    box-sizing: border-box; /* Para indicar al navegador que no tome el padding y conserve el ancho indicado para la columna */
}

.col3 {
    background: pink; /* Color de fondo rosa */
    width: 33.33%; /* Ancho de un tercio de la pantalla */
    margin: 1% 0; /* margen: superior_e_inferior derecho_e_izquierdo */
    float: left; /* para que la etiqueta article tenga un comportamiento inline */
    padding: 1%; /* Para dar un poco de aire */
    box-sizing: border-box; /* Para indicar al navegador que no tome el padding y conserve el ancho indicado para la columna */
}

.col5 {
    background: pink; /* Color de fondo rosa */
    width: 20%; /* Ancho de un quinto de la pantalla */
    margin: 1% 0; /* margen: superior_e_inferior derecho_e_izquierdo */
    float: left; /* para que la etiqueta article tenga un comportamiento inline */
    padding: 1%; /* Para dar un poco de aire */
    box-sizing: border-box; /* Para indicar al navegador que no tome el padding y conserve el ancho indicado para la columna */
}

/* REGLAS PARA DISEÑO WEB RESPONSIVO */
@media screen and (min-width: 826px) {
    /* Fue la medida correcta para que no apareciera el scroll horizontal */
    .container {
        width: 800px;
    }
}

/* Nos enfocamos al tamaño de la tablet más comercial
@media screen and (max-width: 768px) {
    .container, nav ul, .col2, .col3, .col5 {
        width: 100%;
    }
} */