/* Clase para el contenedor global*/
.container{
     width: 800px;
     margin: auto; /*forza a centrado horizontal en la ventana*/
}

/* Observa que usamos medidas dinámicas*/
section{ 
    background: #F9F5C9; /* amarillo */
    margin: 1% 0;
    padding: 1% 0;
}

/* Clase clear la usamos para interrupir la flotación*/
.clear { 
    clear: both;
}

/* Clases para las columnas dentro de las celdas */
.col2 {
    background: pink; /* Color de fondo rosa */
    width: 50%; /* Ancho del 50% */
    margin: 1% 0; /* margen: superior_e_inferior derecho_e_izquierdo */
    float: left; /* para que la etiqueta article tenga un comportamiento inline */
    padding: 1%; /* Para dar un poco de aire */
    box-sizing: border-box; /* Para indicar al navegador que no tome el padding y conserve el ancho indicado para la columna */
}

.col3 {
    background: pink; /* Color de fondo rosa */
    width: 33.33%; /* Ancho de un tercio de la pantalla */
    margin: 1% 0; /* margen: superior_e_inferior derecho_e_izquierdo */
    float: left; /* para que la etiqueta article tenga un comportamiento inline */
    padding: 1%; /* Para dar un poco de aire */
    box-sizing: border-box; /* Para indicar al navegador que no tome el padding y conserve el ancho indicado para la columna */
}

.col5 {
    background: pink; /* Color de fondo rosa */
    width: 20%; /* Ancho de un quinto de la pantalla */
    margin: 1% 0; /* margen: superior_e_inferior derecho_e_izquierdo */
    float: left; /* para que la etiqueta article tenga un comportamiento inline */
    padding: 1%; /* Para dar un poco de aire */
    box-sizing: border-box; /* Para indicar al navegador que no tome el padding y conserve el ancho indicado para la columna */
}