h1 {
    color: red;
}

#subtitulo {
    color: green;
} 

.parrafo {
    color: blue;
}

/* Uso de selectores hijo */
span p:first-child {
    color: red;
}

span p:last-child {
    color: blue;
}

span p:nth-child(4) {
    color: green;
}

/* Uso de pseudoclase */
.pink:hover {
	color: pink;
}